<div class="talks-list">
  <% @talks.each do |talk| %>

    <%= link_to talk_path(talk.slug), class: 'talk-item' do %>
      <div class="talk-item__image" style="background-image: url('<%= talk.poster_url %>')">
      </div>
      <div class="talk-item__info">
        <h2 class="talk-item__title"><%= talk.title %></h2>
      </div>
    <% end %>

  <% end %>
</div>