@import "_variables";
@import "articles";
@import "article";
@import "navigation";
@import "talks";
@import "talk";

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    h1, h2, h3, h4, h5 {
        font-family: 'Roboto Condensed', sans-serif;
    }
}

.container {
    margin: 0rem auto;
    width: 100%;

    @media #{$phone} {
        max-width: 576px;
    }
    @media #{$tablet} {
        max-width: 768px;
    }
    @media #{$laptop} {
        margin: 2rem auto;
        max-width: 992px;
    }
    @media #{$desktop} {
        max-width: 1200px;
    }
}

footer {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}
