@import "articles";
@import "article";
@import "navigation";
@import "talks";

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

    h1, h2, h3, h4, h5 {
        font-family: 'Roboto Condensed', sans-serif;
    }
}

.container {
    margin: 0rem auto;
    width: 100%;

    @media (min-width: 576px) {
        max-width: 576px;
    }
    @media (min-width: 768px) {
        max-width: 768px;
    }
    @media (min-width: 992px) {
        margin: 2rem auto;
        max-width: 992px;
    }
    @media (min-width: 1200px) {
        max-width: 1200px;
    }
}

footer {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}