.article {
    line-height: 1.65;
    padding: 1rem 2rem;

    &__body {
        float: left;
        width: 100%;

        @media (min-width: 992px) {
            width: 720px;
            margin-right: 2rem;
        }
    }
    &__container {
        overflow: hidden;
        width: 100%;
    }

    &__content {
        color: #4A5568;
        font-size: 1.1rem;
        margin-bottom: 2rem;
        overflow: hidden;

        a {
            color: #4DC0B5;
            &:hover {
                color: #38A89D;
            }
            text-decoration: none;
        }

        h2 {
            font-size: 1.25rem;
            line-height: 1.5;
        }

        h3 {
            font-size: 1.1rem;
            line-height: 1.5;
        }

        img, video, code {
            display: block;
            height: auto;
            max-width: 100%;
        }
    }

    &__image {
        display: block;
        height: auto;
        max-width: 100%;
    }
    &__meta {
        margin-bottom: 1rem;

        p {
            color: #606F7B;
            font-size: 1rem;
            margin-top: 0;
        }
    }
    &__sidebar {
        background: red;
        display: none;
        float: left;
        width: 220px;

        @media (min-width: 992px) {
            display: block;
        }
    }
    &__title {
        color: #3D4852;
        display: block;
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 0rem;
        max-width: 100%;

        @media (min-width: 992px) {
            font-size: 2rem;
        }
    }
}
