.article-item {
  line-height: 2rem;
  width: 100%;

  @media (min-width: 992px) {
    margin-top: 2rem;
    overflow: hidden;
  }

  &__excerpt {
    color: #606F7B;
    font-size: 1.25rem;
    padding: 0 1rem;
  }

  &__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 196px;
    width: 100%;

    @media (min-width: 992px) {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08);
      float: right;
      height: 298px;
      margin-left: 4rem;
      width: 596px;
    }
  }

  &__info {
    padding: 1rem 2rem;
    text-align: center;
  }

  &__title {
    color: #3D4852;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

.article-list {
  width: 100%;
}

.featured-article {
  background-size: cover;
  background-position: 50%;
  line-height: 2rem;
  position: relative;
  width: 100%;

  &__excerpt {
    color: #606F7B;
    font-size: 1rem;
    @media (min-width: 992px) {
      padding-right: 4rem;
    }
  }

  &__image {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08);
    height: auto;
    width: 100%;
  }

  &__info {
    background: #fff;
    border-bottom: solid 1px #3D4852;
    padding: 1rem 2rem;
    text-align: center;

    @media (min-width: 992px) {
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
            0 2px 4px 0 rgba(0,0,0,0.08);
      left: 0;
      max-width: 100%;
      padding: 2rem 4rem;
      position: absolute;
      top: 50%;
      width: 32rem;
    }
  }

  &__title {
    color: #3D4852;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}
