.article {
    padding-bottom: 2rem;

    .feature-image {
        height: 20rem;
        @media #{$medium-and-up} {
            height: 40rem;
        }
        margin-bottom: 2rem;
    }

    .content {
        padding: 1rem;
        font-size: 1.4rem;
        color: #555;

        h1 {
            font-size: 2.8rem;
            color: #333;
        }
        h2 {
            font-size: 2.2rem;
            color: #ad6e6e;
        }

        h3 {
            font-size: 1.7rem;
            color: #333;
        }

        h4 {
            font-size: 1.4rem;
            color: #333;
        }

        img {
           max-width: 80%;
           margin: 4rem auto;
           display: block; 
        }
    }

    .comments {
        margin-top: 2rem;
    }
}